[submodule "lib/googletest"]
	path = lib/googletest
	url = https://github.com/google/googletest
	shallow = true
[submodule "lib/soloud/src"]
	path = lib/soloud
	url = https://github.com/jarikomppa/soloud
	shallow = true
[submodule "lib/sdl2"]
	path = lib/sdl2
	url = https://github.com/libsdl-org/SDL
	shallow = true
[submodule "lib/sdl_image/src"]
	path = lib/sdl_image
	url = https://github.com/libsdl-org/SDL_image
	shallow = true
[submodule "lib/sdl_ttf"]
	path = lib/sdl_ttf
	url = https://github.com/libsdl-org/SDL_ttf.git
	shallow = true
[submodule "lib/libdb"]
	path = lib/libdb
	url = https://github.com/berkeleydb/libdb
	shallow = true
[submodule "lib/whereami/whereami"]
	path = lib/whereami/lib
	url = https://github.com/gpakosz/whereami
	shallow = true
