[submodule "lib/googletest"]
	path = lib/googletest
	url = https://github.com/google/googletest
	branch = v1.15.x
	shallow = true
[submodule "lib/soloud/src"]
	path = lib/soloud/src
	url = https://github.com/jarikomppa/soloud
[submodule "lib/sdl2"]
	path = lib/sdl2
	url = https://github.com/libsdl-org/SDL
